<%- include("constants/header"); -%>
<div class="activity">
  <span class="activity-head">John is Developer</span>
  <h1 class="current-work">
    <%=mainrole[0].mainrole%>
  </h1>
  <p class="current-work-content">
    <%=mainrolecontent[0].mainrolecontent%>
  </p>
  <h1 class="today-activity">
    Today's Activity
  </h1>
  <p class="today-activity-content">
    <%=todaycontent[0].todaycontent%>
  </p>
  <h1 class="current-tech">
    Current Learning Technology
  </h1>
  <p class="current-tech-content">
    <%=currenttech[0].currenttech%>
  </p>
</div>
